* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: black;
    background-color: turquoise;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/37/Color_icon_red.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #time {
    font-size: 160px;
    color: white;
  }
  

  h1 {
    margin-bottom: 48px;
    
  }

  #paragraph {
    font-size: 70px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    background-clip: text;

  }
  
  h2 {
    margin-bottom: 8px;
    opacity: 0.6;
  }
  
  